@page "/newgame"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Cross.Shared
@attribute [Authorize]
@inject HttpClient Http

<h3>NewGame</h3>

<table class="table">
    <thead>
        <tr>
            <th>Hole Cards</th>
            <th>Ante</th>
            <th>Drop Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>


@code {

}