@page "/newgame"
@using Microsoft.AspNetCore.Authorization
@using Cross.Shared
@attribute [Authorize]
@inject HttpClient Http

<h3>NewGame</h3>
<EditForm Model="@newGame" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber id="ante" @bind-Value="newGame.Ante" />
    <InputNumber id="holeCards" @bind-Value="newGame.HoleCards" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private Game newGame = new Game();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}